@model Praktika2.Models.Illustrations
@using Microsoft.AspNet.Identity
@using Praktika2.Models;

<!DOCTYPE html>
@{
    ViewBag.Title = "Об иллюстрации";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Детали иллюстрации</title>
</head>
<body>
    <div>
        @*<h4>Illustrations</h4>*@
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Illustrators.IllustratorNickname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Illustrators.IllustratorNickname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DLDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DLDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Privacy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Privacy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Hiding)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Hiding)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Изменить иллюстрацию", "Edit", new { id = Model.IllustrationID }) |
        @Html.ActionLink("Вернуться к портофолио", "Index")
    </p>
</body>
</html>
