@model IEnumerable<Praktika2.Models.Illustrations>
@using Microsoft.AspNet.Identity
@using Praktika2.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ваши иллюстрации</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Назввание иллюстрации
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                Дата загрузки
                @*@Html.DisplayNameFor(model => model.DLDate)*@
            </th>
            <th>
                Приватность
                @*@Html.DisplayNameFor(model => model.Privacy)*@
            </th>
            <th>
                Сокрытие
                @*@Html.DisplayNameFor(model => model.Hiding)*@
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            @if (item.Illustrators.UserId == User.Identity.GetUserId() && !item.Hiding)
            {
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DLDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Privacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hiding)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IllustrationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.IllustrationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IllustrationID })
            </td>
            }
        </tr>
    }
    
    </table>
</body>
</html>
