@model Praktika2.Models.Orders
@using Microsoft.AspNet.Identity
@using Praktika2.Models;

<!DOCTYPE html>
@{
    ViewBag.Title = "Удаление заказа";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удаление</title>
</head>
<body>
    <h3>Вы уверены, что хотите удалить данный заказ?</h3>
    <div>
        @*<h4>Заказ</h4>*@
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Customers.CustomerNickname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customers.CustomerNickname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Illustrations.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Illustrations.Name)
            </dd>   

            <dt>
                @Html.DisplayNameFor(model => model.Illustrators.IllustratorNickname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Illustrators.IllustratorNickname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Commentary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Commentary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Feedback)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Feedback)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OrderStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OrderDate)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Вернуться к списку заказов", "Index")
            </div>
        }
    </div>
</body>
</html>
