@model IEnumerable<Praktika2.Models.Orders>
@using Microsoft.AspNet.Identity
@using Praktika2.Models;

<!DOCTYPE html>
@{
    ViewBag.Title = "Список заказов";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ваши заказы</title>
</head>
<body>
    <p>
    </p>
    <table class="table">
        <tr>
            <th>
                Покупатель
                @*@Html.DisplayNameFor(model => model.Customers.CustomerNickname)*@
            </th>
            <th>
                Иллюстратор
                @*@Html.DisplayNameFor(model => model.Illustrators.IllustratorNickname)*@
            </th>
            <th>
                Название иллюстрации
                @*@Html.DisplayNameFor(model => model.Illustrations.Name)*@
            </th>
            <th>
                Комментарий
                @*@Html.DisplayNameFor(model => model.Commentary)*@
            </th>
            <th>
                Отзыв
                @*@Html.DisplayNameFor(model => model.Feedback)*@
            </th>
            <th>
                Статус заказа
                @*@Html.DisplayNameFor(model => model.OrderStatus)*@
            </th>
            <th>
                Цена
                @*@Html.DisplayNameFor(model => model.Price)*@
            </th>
            <th>
                Дата заказа
                @*@Html.DisplayNameFor(model => model.OrderDate)*@
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
@if (item.Illustrators.UserId == User.Identity.GetUserId() || item.Customers.UserId == User.Identity.GetUserId())
{
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CustomerNickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Illustrators.IllustratorNickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Illustrations.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.ActionLink("Редактировать заказ", "Edit", new { id = item.OrderID }) |
                @Html.ActionLink("Посмотреть информацию о заказе", "Details", new { id = item.OrderID }) @*|
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })*@
            </td>
}
        </tr>
    }
    
    </table>
</body>
</html>
